<div>
    <p>Nombre de jours : <%= recap.nbjours %></p>
    <p>TVA: <%= recap.tva %></p>
    <p>CA prévisionnel: <%= recap.total %></p>
    <p>Encours: <%= recap.due %></p>
    <p>Réglé: <%= recap.paid %></p>
    <p>A réaliser: <%= recap.todo %></p>
</div>