<%- include partials/head.ejs %>
<%- include partials/header.ejs %>
<!--%- include partials/recapOut.ejs %-->
<table class="table table-hover table-dark">
    <thead class="thead-light">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Désignation</th>
        <th scope="col">Montant</th>
        <th scope="col">Date de prestation</th>
        <th scope="col">Date de règlement</th>
        <th scope="col">Date de relance</th>
        <th scope="col">Contact</th>
    </tr>
    </thead>
    <tbody>
    <% bills.forEach((bill, key) => { %>
    <tr>
        <td><%= key %></td>
        <td><%= bill.designation %></td>
        <td><%= bill.amount %> €</td>
        <td><% if(typeof bill.action_date !== 'undefined'){ %><%= bill.action_date.getDate() %>/<% if(bill.action_date.getMonth() + 1  < 10){ %>0<%}%><%= bill.action_date.getMonth() + 1 %>/<%= bill.action_date.getFullYear() %><% } %></td>
        <td><% if(typeof bill.payment_date !== 'undefined'){ %><%= bill.payment_date.getDate() %>/<% if(bill.payment_date.getMonth() + 1  < 10){ %>0<%}%><%= bill.payment_date.getMonth() + 1 %>/<%= bill.payment_date.getFullYear() %><% } %></td>
        <td><% if(typeof bill.recovery_date !== 'undefined'){ %><%= bill.recovery_date.getDate() %>/<% if(bill.recovery_date.getMonth() + 1  < 10){ %>0<%}%><%= bill.recovery_date.getMonth() + 1 %>/<%= bill.recovery_date.getFullYear() %><% } %></td>
        <td>
            <% if(typeof bill.customer != 'undefined'){ %>
            <button onclick="getContact('<%= bill.customer._id %>')" type="button" class="btn btn-primary" data-toggle="modal" data-target="#contactModal">
                Voir
            </button>
            <% } %>
            <% if(typeof bill.provider != 'undefined'){ %>
            <button onclick="getContact('<%= bill.provider._id %>')" type="button" class="btn btn-primary" data-toggle="modal" data-target="#contactModal">
                Voir
            </button>
            <% } %>
        </td>
    </tr>
    <% }); %>
    </tbody>
</table>

<div class="modal fade bd-example-modal-lg" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="contact">
                <table class="table table-hover table-dark">
                    <thead class="thead-light">
                        <th scope="col">Nom</th>
                        <th scope="col">Tél</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Mail</th>
                        <th scope="col">Commentaires</th>
                    </thead>
                    <tbody id="billContacts">

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function getContact(id){
        $.get('/customer/' + id, false, callback, 'json');
    }

    function callback(data){
        document.getElementById('modalLabel').innerHTML = data.name;
        if(typeof data !== 'undefined' && data !== null) {
            let billContacts = "";
            if(typeof data.contacts !== 'undefined') {
                data.contacts.forEach((contact, key) => {
                    billContacts =
                        "<tbody><tr>" +
                        "<td>" + setUndefined(contact.name) + "</td>" +
                        "<td>" + setUndefined(contact.tel) + "</td>" +
                        "<td>" + setUndefined(contact.mobile) + "</td>" +
                        "<td>" + setUndefined(contact.mail) + "</td>" +
                        "<td>" + setUndefined(contact.comments) + "</td>" +
                        "</tr></tbody>";
                });
                document.getElementById('billContacts').innerHTML = billContacts;
            } else {
                document.getElementById('billContacts').innerHTML = "<h3>Aucun contact n'a été renseigné.</h3>";
            }
        }
    }

    function setUndefined(value){
        if(typeof value === 'undefined' || value === null || value === ""){
            value = "-";
        }
        return value;
    }
</script>

<%- include partials/footer.ejs %>
