<%- include partials/head.ejs %>
<%- include partials/header.ejs %>
<%- include partials/recap.ejs %>

<table class="table table-hover table-dark">
    <thead class="thead-light">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Désignation</th>
        <th scope="col">Montant</th>
        <th scope="col">Date de prestation</th>
        <th scope="col">Date de règlement</th>
        <th scope="col">Date de relance</th>
        <th scope="col">Contact</th>
    </tr>
    </thead>
    <tbody>
    <% bills.forEach((bill, key) => { %>
    <tr>
        <td><%= key %></td>
        <td><%= bill.designation %></td>
        <td><%= bill.amount %> €</td>
        <td><% if(typeof bill.action_date !== 'undefined'){ %><%= bill.action_date.getDate() %>/<% if(bill.action_date.getMonth() + 1  < 10){ %>0<%}%><%= bill.action_date.getMonth() + 1 %>/<%= bill.action_date.getFullYear() %><% } %></td>
        <td><% if(typeof bill.payment_date !== 'undefined'){ %><%= bill.payment_date.getDate() %>/<% if(bill.payment_date.getMonth() + 1  < 10){ %>0<%}%><%= bill.payment_date.getMonth() + 1 %>/<%= bill.payment_date.getFullYear() %><% } %></td>
        <td><% if(typeof bill.recovery_date !== 'undefined'){ %><%= bill.recovery_date.getDate() %>/<% if(bill.recovery_date.getMonth() + 1  < 10){ %>0<%}%><%= bill.recovery_date.getMonth() + 1 %>/<%= bill.recovery_date.getFullYear() %><% } %></td>
        <td>
            <% if(typeof bill.customer != 'undefined'){ %>
            <button onclick="getContact('<%= bill.customer._id %>')" type="button" class="btn btn-primary" data-toggle="modal" data-target="#contactModal">
                Voir
            </button>
            <% } %>
            <% if(typeof bill.provider != 'undefined'){ %>
            <button onclick="getContact('<%= bill.provider._id %>')" type="button" class="btn btn-primary" data-toggle="modal" data-target="#contactModal">
                Voir
            </button>
            <% } %>
        </td>
    </tr>
    <% }); %>
    </tbody>
</table>

<div class="modal fade bd-example-modal-lg" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="contact">
                <div class="d-flex flex-row">
                    <div class="mr-auto p-5" style="padding: 10px;">
                        <p id="address"></p>
                        <p id="cp"></p>
                        <p id="city"></p>
                    </div>
                    <div class="p-5 align-self-stretch" style="padding: 10px;">
                        <p id="country"></p>
                    </div>
                </div>
                <form id="addContact">
                    <table class="table table-hover table-dark">
                        <thead class="thead-light">
                            <th scope="col">Nom</th>
                            <th scope="col">Tél</th>
                            <th scope="col">Mobile</th>
                            <th scope="col">Mail</th>
                            <th scope="col">Commentaires</th>
                            <th scope="col">Action</th>
                        </thead>
                        <tbody id="billContacts">
                        </tbody>
                    </table>
                </form>
                <button type="button" class="btn btn-success" onclick="createForm('billContacts', fields)">Ajouter un contact</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    let company = null;
    const fields = [
        {
            "type": "input",
            "label": "Nom",
            "required": true,
        },
        {
            "type": "input",
            "label": "Tél",
            "required": false,
        },
        {
            "type": "input",
            "label": "Mobile",
            "required": false,
        },
        {
            "type": "input",
            "label": "Mail",
            "required": true,
        },
        {
            "type": "input",
            "label": "Commentaires",
            "required": false,
        },
    ];

    function getContact(id){
        $.get('/customer/' + id, false, callback, 'json');
    }

    function callback(data){
        if(typeof data !== 'undefined' && data !== null) {
            company = data;
            document.getElementById('modalLabel').innerHTML = setUndefined(data.name);
            document.getElementById('address').innerHTML = setUndefined(data.address.road);
            document.getElementById('cp').innerHTML = setUndefined(data.address.zip);
            document.getElementById('city').innerHTML = setUndefined(data.address.city);
            document.getElementById('country').innerHTML = setUndefined(data.address.country);
            let billContacts = "";
            if(typeof data.contacts !== 'undefined') {
                data.contacts.forEach((contact, key) => {
                    billContacts =
                        "<tbody><tr>" +
                        "<td>" + setUndefined(contact.name) + "</td>" +
                        "<td>" + setUndefined(contact.tel) + "</td>" +
                        "<td>" + setUndefined(contact.port) + "</td>" +
                        "<td>" + setUndefined(contact.mail) + "</td>" +
                        "<td>" + setUndefined(contact.comments) + "</td>" +
                        "<td>...</td>" +
                        "</tr></tbody>";
                });
                document.getElementById('billContacts').innerHTML = billContacts;
            } else {
                document.getElementById('billContacts').innerHTML = "<h3>Aucun contact n'a été renseigné.</h3>";
            }
        }
    }

    function setUndefined(value){
        if(typeof value === 'undefined' || value === null || value === ""){
            value = "-";
        }
        return value;
    }

    function createForm(elementId, arrayField){
        let tr = document.getElementById(elementId).appendChild(document.createElement('tr'));
        arrayField.forEach((field, key)=>{
            let td = document.createElement('td');
            tr.appendChild(td);
            let formGroup = document.createElement('div');
            formGroup.setAttribute("class", "form-group");
            td.appendChild(formGroup);
            let f = formGroup.appendChild(document.createElement('input'));
            f.setAttribute("placeholder", field.label);
            f.setAttribute("type", field.type);
            f.setAttribute("class", "form-control");
            f.setAttribute("name", "field-" + key);
            if(field.required){
                f.required = true;
            }
        });
        let td = document.createElement('td');
        tr.appendChild(td);
        let formGroup = document.createElement('div');
        formGroup.setAttribute("class", "form-group");
        td.appendChild(formGroup);
        let submit = formGroup.appendChild(document.createElement("button"));
        submit.setAttribute("type", "button");
        submit.setAttribute("class", "btn btn-success");
        submit.setAttribute("name", "save");
        submit.innerText = "Ajouter";
        submit.setAttribute("onclick", "addContact()");
    }

    function addContact(){
        let data = $('#addContact').serializeArray();
        let contact = {
            name: data[0].value,
            tel: data[1].value,
            port: data[2].value,
            mail: data[3].value,
            comments: data[4].value,
        };
        if(company.contacts == null){
            company.contacts = [];
        }
        company.contacts.push(contact);
        let path;
        if(document.title === "Factures entrantes"){
            path = '/update_provider';
        }
        if(document.title === "Factures sortantes"){
            path = '/update_customer';
        } else {
            return;
        }
        $.ajax({
            type: 'PUT',
            contentType: 'application/json',
            url: path,
            data: JSON.stringify(company),
            success: (result)=>{
                console.log(result);
            },
            error: (err)=>{
                console.log(err);
            }
        });
    }
</script>

<%- include partials/footer.ejs %>
